.details-header-container-dark {
  display: flex;
  flex-direction: column;
  height: 100%;
  

} 
.details-header-container-light {
  display: flex;
  flex-direction: column;
  height: 100%;
  background:#eae9eb ;
  

} 


.top {
  padding: 10px;
  border-radius: 7px;
  gap: 10px;
  display: flex;
  width: 100%;
  height: 100%;
}

.main-informations-entreprise {
  display:flex;
  flex-direction: column;
  font-weight: bolder;
  width: 50%;
}

.entreprise-title {
  text-align: center;
  border: solid #FBB163 2px;
  color: #181818;
  padding: 5px;
  background: #FBB163;
  border-radius: 7px;
}




  .link-items {
    display: flex;
    justify-content: center;
    gap:5px;
    padding: 5px;
    color: #181818;
    text-decoration: none;
    background: #DFCFE1;
    border-radius: 7px;

  }

  .link-items:hover {
    background: #f4e4f5;

  }

  .egapro-link {
    margin-bottom: 10px;
    max-width: 80%;
  }

  .egapro-link-text {
    font-weight: bolder;
    font-size: smaller;
  }

  .idcc-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;

   
  }

  .idcc-link-details {
    display: flex;
    font-weight: bolder;
    gap: 5px;
    flex-wrap: wrap;
 

  }

  .idcc-link {
    display: flex;
    flex-wrap: wrap;
  }

  .idcc-link-id {
    font-weight: bolder;
    font-size: smaller;
  }
