.etablissements-container-dark {
    border: solid firebrick 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background:#212121;
}

.etablissements-container-light {
    border: solid firebrick 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background:#eae9eb;

}


.etablissements-count {
    border: solid rgb(34, 178, 44) 3px;
    text-align: center;
    font-weight: bolder;
}

.etablissements-list-light {
    border: solid rgb(96, 34, 178) 3px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  

   
}

.etablissements-list-dark {
    border: solid rgb(96, 34, 178) 3px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
 
}


.etablissement-cards-light {
  
   

}

.etablissement-cards-dark {
display: flex;
flex-direction: column;

}

.etablissement-card-dark {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    display: flex;
    /* flex-direction: column; */
    border-bottom: solid #afafc6 0.2px;
    border-top: solid #afafc6 0.2px;
    background: #181818;
    font-weight: bolder;

}

.etablissement-card-light {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-bottom: 30px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    border-bottom: solid #afafc6 0.2px;
    border-top: solid #afafc6 0.2px;
    background: #f1f1f2;
    font-weight: bolder;


}

.etablissement-header {
    border: solid #FBB163 2px;
    text-align: center;
    border: solid #FBB163 2px;
    color: #181818;
    padding: 5px;
    background: #FBB163;
    border-radius: 7px;

}

.etablissement-details-light {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.etablissement-details-dark {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 50%; */

}

.entreprise-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-container {
    display: flex;
    flex-wrap: wrap;
    /* width: 30%; */
}

.map-container {
    margin: 20px;

}

.link-light {
display: flex;
justify-content: center;
align-items: center;
}

.link-text {
    color: #eae9eb;
}




.legi-link {
    min-width: 30%;
    background:#118571 ;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
color: #f1f1f2;
text-decoration: none;

}

.legi-link:hover {

    cursor: pointer;
    background:#11D99B ;


}

.idcc-card-container  {
    border: solid fuchsia 3px;
}


.map {
    border: solid #afafc6 1px;
    border-radius: 7px;

}


.paginate {
    font-weight: bolder;
}


