.etablissements-container-dark {
    display: flex;
    flex-direction: column;
    margin: 25px;
    border-radius: 10px;
    background: linear-gradient(145deg, #222325, #1d1e20);
    box-shadow:  8px 8px 19px #0f0f10,
                 -8px -8px 19px #313336;
}

.etablissements-container-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
    border-radius: 10px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  8px 8px 19px #757575,
                 -8px -8px 19px #ffffff;
}

.etablissements-list-light {
  
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
   
}

.etablissements-list-dark {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    
 
}

.etablissement-cards-light {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.etablissement-cards-dark {
    border: none;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
 
}

.etablissement-card-dark {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background: #202123;
    box-shadow: inset 5px 5px 4px #0d0d0e,
              inset -5px -5px 4px #333538;
    flex-basis: calc(33.33% - 20px); 
}

.etablissement-card-light {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 calc(33.33% - 20px);
    border-radius: 10px;
background: #ffffff;
box-shadow: inset 13px 13px 57px #c2c2c2,
            inset -13px -13px 57px #ffffff;

}


.pagination-controls-dark {
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.pagination-controls-light {
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.btn-page-dark {
    padding: 15px;
    border-radius: 88px;
    background: linear-gradient(145deg, #1d1e20, #222325);
    box-shadow:  8px 8px 19px #0f0f10,
                 -8px -8px 19px #313336;
}

.btn-page-light {
    padding: 15px;
    border-radius: 88px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  8px 8px 19px #757575,
                 -8px -8px 19px #ffffff;
}

.btn-page-dark:hover {
    cursor: pointer;
    border-radius: 88px;
background: #202123;
box-shadow: inset 8px 8px 19px #0f0f10,
            inset -8px -8px 19px #313336;
}


.btn-page-light:hover {
    cursor: pointer;
    border-radius: 88px;
background: #ffffff;
box-shadow: inset 8px 8px 19px #757575,
            inset -8px -8px 19px #ffffff;
}

.legi-link {
  color: inherit;
    margin-left: 5px;
 text-decoration: none;
}




@media (max-width: 900px) {
    .etablissement-card {
        flex-basis: calc(50% - 20px);  /* Pour 2 cartes par ligne */
    }
}

@media (max-width: 600px) {
    .etablissement-card {
        flex-basis: 100%;  /* Pour 1 carte par ligne */
    }
}
