.pagination-controls {
    display: flex;
    justify-content: space-around;
}


.btn-page {
    padding: 5px;
    color: #ffffff;
    border-radius: 5px;
    background: #118571;

}

.btn-page:hover {
    cursor: pointer;
    background: #11D99B;
}


