.pagination-container-dark {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
   
}


.pagination-container-light {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
   
}

.button-dark {
  color: #ffffff;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(145deg, #1d1e20, #222325);
  box-shadow:  6px 6px 12px #0f0f10,
               -6px -6px 12px #313336;
}

.button-dark:hover {
  border-radius: 50%;
  background: #1e1e2f;
  box-shadow: inset -5px 5px 6px #0c0c13,
              inset 5px -5px 6px #30304b;
}



.button-light {
 
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  16px 16px 39px #bdbdbd,
               -16px -16px 39px #ffffff;
}

.button-light:hover {
  border-radius: 50%;
  box-shadow: inset 10px 10px 20px #cccccc,
              inset -10px -10px 20px #ffffff;
}


.pagination-button-dark {
  color: #ffffff;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(145deg, #1d1e20, #222325);
  box-shadow:  6px 6px 12px #0f0f10,
               -6px -6px 12px #313336;
}

.pagination-button-dark:hover {
  border-radius: 50%;
  background: #202123;
  box-shadow: inset 6px 6px 12px #0f0f10,
              inset -6px -6px 12px #313336;
}

.pagination-button-dark.active {
  border-radius: 50%;
  background: #202123;
  box-shadow: inset 6px 6px 12px #0f0f10,
              inset -6px -6px 12px #313336;

}

.pagination-button-light {

  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  16px 16px 39px #bdbdbd,
               -16px -16px 39px #ffffff;
}

.pagination-button-light:hover {
  border-radius: 50%;
  box-shadow: inset 10px 10px 20px #cccccc,
              inset -10px -10px 20px #ffffff;

}

.pagination-button-light.active {
  border-radius: 50%;
  box-shadow: inset 10px 10px 20px #cccccc,
              inset -10px -10px 20px #ffffff;

}



