/* dataContainer.css */

.cards-container-dark,
.cards-container-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.card-dark,
.card-light {
  width: 80%;
}

.card-light {
  display: flex;
  flex-direction: column;
  border-bottom: solid #afafc6 0.2px;
  border-top: solid #afafc6 0.2px;
  background: #f1f1f2;
  border-radius: 7px; 

}
.card-dark {
  display: flex;
  flex-direction: column;
  border-bottom: solid #afafc6 0.2px;
  border-top: solid #afafc6 0.2px;
  background: #181818;
  border-radius: 7px; 
}

.card-top {
  display: flex;
  justify-content: space-between;
  background-color: #118571;
  border-radius: 7px; 
  padding: 15px;
  color: #ffffff;
  font-weight: bolder;
  gap: 10px;
}

.card-top:hover {
  background-color: #2fb09a;
  cursor: pointer;
}

.card-title {
display: flex;
gap: 10px;
}


.card-title:hover {
  text-decoration: underline;

}



.card-btn-info {
  transition: transform 0.3s ease;
}

.card-btn-info:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.card-content-bottom {
  /* border: solid salmon 4px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:15px;
  padding: 10px;

}

.main-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-weight: bolder;
}


.link-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
/*  */
  

}

.link {
  padding: 7px;
  display: flex;
  flex-wrap: nowrap;
  gap: 7px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  color: #ffffff;
  background: #BD1E59;
}

.link:hover {
  cursor: pointer;
  background: #d08ca5;
}

.idcc-header {
  text-align: center;
  font-weight: bolder;
}

.idcc-map {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;

}


.link-egapro {
  padding: 7px;
  gap: 7px;


}

.link-egapro:hover {
  cursor: pointer;
}

.link-egapro-item {
  display: flex;
  justify-content: center;
  padding: 7px;
  gap: 7px;
  background: #FBB163;
  color: #181818;
  border-radius: 5px;
}

.link-egapro-item:hover {
  background: #f5bd80;

}

.text {
  text-align: center;
}


.link-url {
  text-decoration: none;

  color: #181818;
  font-weight: bolder;
 

}

.egapro-url {
  text-decoration: none;
  font-weight: bolder;
  color: inherit;
}

.idcc-header {
  padding-bottom: 25px;
}


.card-btn-info {

  color : inherit;

}




.more {
  padding: 10px;
}

.more a {
  color: inherit;
 
}






