/* dataContainer.css */

.cards-container-dark,
.cards-container-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.card-dark,
.card-light {
  width: 90%;
  padding: 7px;
}

.card-light {
  display: flex;
  flex-direction: column;
  border-bottom: solid #afafc6 0.2px;
  border-top: solid #afafc6 0.2px;
  background: #f1f1f2;
  border-radius: 7px; 

}
.card-dark {
  display: flex;
  flex-direction: column;
  border-bottom: solid #afafc6 0.2px;
  border-top: solid #afafc6 0.2px;
  background: #181818;
  border-radius: 7px; 
}

.card-title:hover {
  text-decoration: underline;
}

.more-infos {
  display: flex;
  gap: 10px;
}



.card-btn-info {
  background-color: #118571;
  border-radius: 7px; 
  padding: 15px;
  font-weight: bolder;
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}

.card-btn-info:hover {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  background-color: #0e6b5b;
  transform: translateY(-5px);
}



.btn-infos-display {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 7px;
}

.btn-infos-display:hover {
  cursor: pointer;
  text-decoration: underline;
}

.card-content-bottom {
  /* border: solid salmon 4px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:15px;
  padding: 10px;

}

.main-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-weight: bolder;
}


.link-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
/*  */
  

}

.link {
  padding: 7px;
  display: flex;
  flex-wrap: nowrap;
  gap: 7px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  color: #ffffff;
  background: #BD1E59;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.link:hover {
  transform: translateY(-5px);
  background: #961645;
    cursor: pointer;
}

.idcc-header {
  text-align: center;
  font-weight: bolder;
}

.idcc-map {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;

}


.link-egapro {
  padding: 7px;
  gap: 7px;


}

.link-egapro:hover {
  cursor: pointer;
}



.link-egapro-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 7px;
  gap: 7px;
  background: #FBB163;
  color: #181818;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.link-egapro-item:hover {
  transform: translateY(-5px);
  background: #e69a48;
    cursor: pointer;
}


.text {
  text-align: center;
}


.link-url {
  text-decoration: none;

  color: #181818;
  font-weight: bolder;
 

}

.egapro-url {
  text-decoration: none;
  font-weight: bolder;
  color: inherit;
}

.idcc-header {
  padding-bottom: 25px;
}







