/* dataContainer.css */

.cards-container-dark,
.cards-container-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.card-dark,
.card-light {
  width: 80%;
}

.card-light {
  display: flex;
  flex-direction: column;
  border-bottom: solid #afafc6 0.2px;
  border-top: solid #afafc6 0.2px;
  background: #f1f1f2;
  border-radius: 7px; 

}
.card-dark {
  display: flex;
  flex-direction: column;
  border-bottom: solid #afafc6 0.2px;
  border-top: solid #afafc6 0.2px;
  background: #181818;
  border-radius: 7px; 
}


.card-content-top {
  display: flex;
  justify-content: space-between;
  
}

.card-content-bottom {
  /* border: solid salmon 4px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:10px;
  padding: 10px;

}

.raison-sociale {
  font-weight: bolder;
  font-size: smaller;
}

.other-infos {
  
  font-weight: bolder;
  font-size: smaller;
}


    .name-link {
      background-color: #FBB163;
      border-radius: 7px; 
      padding: 15px;
      color: #181818;
      font-weight: bolder;

    }
    .name-link:hover {
      /* background-color: #7ab1f8; */
      background-color: #ffc78b;
      cursor: pointer;
      color: initial;

    }

    .card-title:hover {
      text-decoration: underline;

    }

    


.link-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
/*  */
  

}

.link {
  padding: 7px;
  display: flex;
  flex-wrap: nowrap;
  gap: 7px;

  align-items: center;
  text-align: center;
  border-radius: 5px;
  background: #DFCFE1;
}

.link:hover {
  cursor: pointer;
  background: #f4e4f5;
}

.idcc-header {
  text-align: center;
  font-weight: bolder;
}

.idcc-map {

  display: flex;
  gap: 15px;
  flex-wrap: wrap;

}


.link-egapro {
  padding: 7px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  border-radius: 5px;

}

.link-egapro:hover {
  cursor: pointer;
}

.text {
  text-align: center;
}


.link-url {
  text-decoration: none;

  color: #181818;
  font-weight: bolder;
 

}

.egapro-url {
  text-decoration: none;
  font-weight: bolder;
  color: inherit;
}

.idcc-header {
  padding-bottom: 25px;
}


.btn-info {
  display: flex;
  background-color: #118571;
  padding: 20px;
  border-radius: 7px;
  color : #ffffff;

}



.btn-info:hover {
  background-color: #11D99B;
  color : #ffffff;
}



.more {
  padding: 10px;
}

.more a {
  color: inherit;
 
}






