.search-container-dark {
  display: flex;
  flex-wrap: wrap;
  border: none;
  padding: 20px;
  border-radius: 66px;
  background: linear-gradient(145deg, #222325, #1d1e20);
  box-shadow:  31px 31px 76px #101112,
               -31px -31px 76px #303134;
}

.search-container-light {
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 66px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  9px 9px 43px #c2c2c2,
               -9px -9px 43px #ffffff;
}