.search-container-dark {
  padding: 30px;
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;



               
}

.search-container-light {
  padding: 30px;
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
    
}

.advanced-filters {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
 
}

.filters-text {
  padding: 10px;
  font-size: smaller;

}

.filters {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}


/* burger menu */

.button-container {
  padding: 15px;

}

.burger-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.burger-button.open .bar-dark:nth-child(1) {
  transform: rotate(45deg);
  width: 30px;
  position: absolute;
}

.burger-button.open .bar-dark:nth-child(2) {
  opacity: 0;
}

.burger-button.open .bar-dark:nth-child(3) {
  transform: rotate(-45deg);
  width: 30px;
  position: absolute;
}

.bar-dark {
  background-color: #ffffff;
  height: 4px;
  margin: 4px 0;
  width: 20px;
  transition: transform 0.3s, opacity 0.3s;
}

.burger-button.open .bar-light:nth-child(1) {
  transform: rotate(45deg);
  width: 30px;
  position: absolute;
}

.burger-button.open .bar-light:nth-child(2) {
  opacity: 0;
}

.burger-button.open .bar-light:nth-child(3) {
  transform: rotate(-45deg);
  width: 30px;
  position: absolute;
}

.bar-light {
  background-color: #181818;
  height: 4px;
  margin: 4px 0;
  width: 20px;
  transition: transform 0.3s, opacity 0.3s;
}

