#map {
    height: 30vh;
   width: 200px;


  }
  
  .leaflet-popup-content-wrapper .leaflet-popup-content {
      display: flex;
      flex-wrap: wrap;
      max-width: 90px;
      text-align: center; 
      font-size: x-small;
  
  }
  
  
  
