/* Style the top navigation bar */

.sub-container {
  display: flex;
  border: solid #d0f0c0 2px;
  justify-content: center;
  align-items: flex-end;
}

.extraT {
  width: 20%;
}

.home-btn {
  border-radius: 7%;
}
/* Change color on hover */
.home-btn:hover {
color: rgb(196, 147, 186);
cursor: pointer;
}


