/* Style the top navigation bar */

.sub-container {
  display: flex;
  /* border: solid #d0f0c0 2px; */
  justify-content: center;
  align-items: flex-end;
}

/* Change color on hover */
.home-btn:hover {
color: #818ca8;
cursor: pointer;
box-shadow:  0 0 40px #818ca8;
}


