.home-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  flex-direction: column;
  gap: 30px;
}

.home-text {
  font-weight: 900;
  padding: 20px;
  margin: 20px;
  text-align: center;
  /* border: solid orangered 2px; */
  display: flex;
  flex-direction: column;

}

.home-link {
  color: inherit;
  text-decoration: none;
}

.home-link:hover {
  text-decoration: underline;
}

.icon-link {
  padding-left: 5px;
}

.home-search-engine {
  padding: 20px;
}

.bullet-point {
  /* border: solid teal 4px; */
  display: flex;
  flex-wrap: wrap;
}

.egalite-pro,
.convention,
.accords-entreprise {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* position: relative; */
}

.egalite-pro:hover,
.convention:hover,
.accords-entreprise:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.egalite-pro {

background: #FBB163;
color : #181818;
transition: background-color 0.3s ease, transform 0.3s ease;
}

.egalite-pro:hover {
  transform: translateY(-5px);
  background: #e69a48;
    cursor: pointer;
}

.convention {
  border-radius: 5px;
  background: #BD1E59;
  color : #ffffff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.convention:hover {
  transform: translateY(-5px);
  background: #961645;
    cursor: pointer;
}

.accords-entreprise  {

  background: #a8ccff;
  color : #181818;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.accords-entreprise:hover  {
  transform: translateY(-5px);
  background: #85b8ff;
  cursor: pointer;
}


.bullet-point {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}


.bubble-info {
  position: absolute;
  /* top: -50px; */
  /* right: 0; */
  /* background-color: #22b235; */
  color: #fff;
  border-radius: 5px;
  /* padding: 10px; */
  z-index: 1;
  display: none;
  max-width: 200px;
}

.egalite-pro.active .bubble-info,
.convention.active .bubble-info,
.accords-entreprise.active .bubble-info {
  display: block;
}



.scrap-link {
  /* border: solid red 3px; */
  flex: 1;
  display: flex;
  flex-direction: column;
}

.scrap-info-display {
  /* border: solid rgb(0, 47, 255) 3px; */
  margin-top:20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Style pour la bulle d'information */
.scrap-info {
  /* border: solid rgb(0, 255, 4) 3px; */
  border-radius: 5%;
  font-size: small;
  /* position:static; */
  display: flex;
  background: #eae3e3;
  color: #181818;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: inherit; */
  padding: 10px;
}