.home-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    height: 100vh;
  }


.home-text {
font-weight: 900;
text-align: center;
}

.btn-home-dark {
  border: none;
  height: 50px;
  width: 100%;
  color: #ffffff;
border-radius: 70px;
background: linear-gradient(145deg, #222325, #1d1e20);
box-shadow:  12px 12px 19px #1a1a1c,
             -12px -12px 19px #26282a;
}

.btn-home-dark:hover {

background: #202123;
box-shadow: inset 12px 12px 19px #1a1a1c,
            inset -12px -12px 19px #26282a;
}

.btn-home-light {
  border: none;
  color: #525f7f;
  height: 50px;
  border-radius: 70px;
  width: 100%;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
box-shadow:  12px 12px 19px #cccccc,
             -12px -12px 19px #ffffff;
}

.btn-home-light:hover {
  background: #ffffff;
  box-shadow: inset 12px 12px 19px #cccccc,
              inset -12px -12px 19px #ffffff;
}


