/* searchbar.css */

.home-search-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px
  }

  .home-search-bar {
    padding: 10px;
    display: flex;
    gap: 20px;
  }

  .home-input-search-dark {
    display:flex;
    gap: 30px;
    padding: 15px;
    border-radius: 80px;
    border: solid #ffffff 2px;

  }

  .home-input-search-light {
    display:flex;
    gap: 30px;
    padding: 15px;
    border-radius: 80px;
    border: solid #202123 2px;
 
  }

  .input-text-dark {

    color: #ffffff;
    border: none;
    background: transparent;
    outline: none;
  }

  .input-text-light {
  
    color: #202123;
    border: none;
    background: transparent;
    outline: none;
  }


  .home-suggestion-data-dark {
    max-height: 400px;
    overflow-y: auto;
    border-radius:10px;
    border: solid #ffffff 2px;
 
  }

  .home-suggestion-data-light {
    max-height: 400px;
    overflow-y: auto;
    border-radius:10px;
    border: solid #202123 2px;
 
  }
  
  .btn-home-dark {
   font-weight: bolder;
    border: none;
    height: 50px;
    color: #ffffff;
    background: #118571;
  border-radius: 10px;

  }
  
  .btn-home-dark:hover {
    border: none; 
    background: #11D99B;

  }
  
  .btn-home-light {
    font-weight: bolder;
    border: none;
    background: #118571;
    color: #ffffff;
    height: 50px;
    border-radius: 10px;
 
  }
  
  .btn-home-light:hover {
    border: none; 
    background: #11D99B;

  }
  
  
  




  
  

  

  


  