/* searchbar.css */

.home-search-container {
  /* border: solid lightcoral 4px; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px
  }

  .home-search-bar {
    /* border: solid orchid 4px; */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .home-input-search-dark {
    display:flex;
    gap: 30px;
    padding: 15px;
    border-radius: 80px;
    border: solid #ffffff 2px;

  }

  .home-input-search-light {
    display:flex;
    gap: 30px;
    padding: 15px;
    border-radius: 80px;
    border: solid #202123 2px;
 
  }

  .input-text-dark {

    color: #ffffff;
    border: none;
    background: transparent;
    outline: none;
  }

  .input-text-light {
  
    color: #202123;
    border: none;
    background: transparent;
    outline: none;
  }


  .home-suggestion-data-dark {

    max-height: 400px;
    overflow-y: auto;
    border-radius:10px;
    border: solid #ffffff 2px;
 
  }

  .home-suggestion-data-light {
    max-height: 400px;
    overflow-y: auto;
    border-radius:10px;
    border: solid #202123 2px;
 
  }
  
  .btn-home {
   font-weight: bolder;
    border: none;
    height: 50px;
    color: #ffffff;
    background: #118571;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;

  }
  
  .btn-home:hover {
    background-color: #0e6b5b;
    transform: translateY(-5px);
    cursor: pointer;

  }
  
  
  
  




  
  

  

  


  