/* searchbar.css */

.home-search-container {
    border: solid hotpink 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px
  }

  .home-input-search-dark {
    display:flex;
    width: 70%;
    gap: 30px;
    padding: 15px;
    border-radius: 80px;
    border: 1px solid #a8ccff; 
       box-shadow:
     0 0 5px #a8ccff,
     0 0 10px #a8ccff,
     0 0 15px #a8ccff; 
  }

  .home-input-search-light {
    display:flex;
    width: 70%;
    gap: 30px;
    padding: 15px;
    border-radius: 80px;
    border: none;
    box-shadow: inset 5px 5px 10px #cccccc,
    inset -5px -5px 10px #ffffff;
 
  }

  .input-text-dark {
    width: 80%;
    color: #ffffff;
    border: none;
    background: transparent;
    outline: none;
  }

  .input-text-light {
    width: 80%;
    color: #202123;
    border: none;
    background: transparent;
    outline: none;
  }


  .home-suggestion-data-dark {
    max-height: 400px;
    overflow-y: auto;
    border-radius:10px;
    border: 1px solid #a8ccff; 
       box-shadow:
     0 0 5px #a8ccff,
     0 0 10px #a8ccff,
     0 0 15px #a8ccff; 
 
  }

  .home-suggestion-data-light {
    max-height: 400px;
    overflow-y: auto;
    border-radius:10px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
                 -20px -20px 60px #ffffff;
 
  }
  
  .btn-home-dark {
    margin-top: 20px;
    font-weight: bolder;
    border: none;
    height: 50px;
    width: 100%;
    color: #ffffff;
  border-radius: 10px;
  background: linear-gradient(145deg, #222325, #1d1e20);
  box-shadow:  12px 12px 19px #1a1a1c,
               -12px -12px 19px #26282a;
  }
  
  .btn-home-dark:hover {
    border: 1px solid #a8ccff; 
  background: #202123;
  box-shadow: inset 12px 12px 19px #1a1a1c,
              inset -12px -12px 19px #26282a;
              box-shadow:
  0 0 5px #a8ccff,
  0 0 10px #a8ccff,
  0 0 15px #a8ccff;
  }
  
  .btn-home-light {
    margin-top: 20px;
    font-weight: bolder;
    border: none;
    height: 50px;
    border-radius: 10px;
    width: 100%;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  12px 12px 19px #cccccc,
               -12px -12px 19px #ffffff;
  }
  
  .btn-home-light:hover {
    background: #ffffff;
    box-shadow: inset 12px 12px 19px #cccccc,
                inset -12px -12px 19px #ffffff;
  }
  
  
  




  
  

  

  


  