/* filterSelector.css */

.filter-selector {
    display: flex;
    justify-content: space-evenly;
    width:100%;
    height: 100%;
    border: none;
}

.input-filter {
    width: 80%;
    border: none;
    border-radius:7px;
    font-size: 1rem;
}

.input-filter::placeholder {
    color: #aaa;
  }

  .input-filter:focus {
    outline: none;
    box-shadow: 0 0 15px #a8ccff; 
  }

.btn-filter {
    border-radius: 7px;
    background-color: #a8ccff;
}

.btn-filter:hover {
    cursor: pointer;
    background-color: #c2dbfc;
    box-shadow: 0 0 15px #a8ccff; 
    }

.caret-icon {
margin: 8px;
}