.filter-selector-light {
    border: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 80px;
    box-shadow: inset 5px 5px 10px #cccccc,
    inset -5px -5px 10px #ffffff;
}

.filter-selector-dark {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 80px;
    background: #202123;
    box-shadow: inset 5px 5px 4px #0d0d0e,
                inset -5px -5px 4px #333538;
}



.filter-wrapper {
    display: flex;
    position: relative;
    width: 100%;

}

.icon-filter {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.icon-filter:hover {
  cursor: pointer;
}



.input-filter-dark {
    height: 35px;
    border: none;
    color: #ffffff;
    border-radius: 7px;
    padding-left: 40px;
    background: transparent;
    outline: none;
}


.input-filter-light {
    height: 35px;
    border: none;
    border-radius: 7px;
    padding-left: 40px;
    background: transparent;
    outline: none;

}

.suggestion-filters-dark {
    margin-top: 20px;
    background: #202123;
    z-index: 999;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background: #202123;
    box-shadow: inset 5px 5px 4px #0d0d0e,
                inset -5px -5px 4px #333538;

  }

  .suggestion-filters-light {
    margin-top: 20px;
    border: none;
    background: #ffffff;
    z-index: 999;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #cccccc,
    inset -5px -5px 10px #ffffff;
  }

  .filter-card-container-dark {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: solid #ffffff 1px;
  }

  .filter-card-container-dark:hover {
    cursor: pointer;
    background-color: #47484e;
  }

  .filter-card-container-light {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: solid #202123 1px;
  }

  .filter-card-container-light:hover {
    cursor: pointer;
    background-color: #e6e7e9;
  }














