/* searchbar.css */

.search-container-dark {
  border: solid hotpink 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

}

.search-bar-dark {
  border-radius: 80px;
 border: 1px solid #a8ccff; 
    box-shadow:
  0 0 5px #a8ccff,
  0 0 10px #a8ccff,
  0 0 15px #a8ccff; 
}


.search-bar-light {
  border: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 80px;
  box-shadow: inset 5px 5px 10px #cccccc,
  inset -5px -5px 10px #ffffff;

}

.search-wrapper {
  border: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 80px;

}

.icon-search {
  padding: 15px;

}

.input-container{
  display: flex;
  width: 100%;
}





.input-search-dark {
  padding-top: 15px;
  width: 100%;
  height: 35px;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  background: transparent;
  outline: none;
  
  
}

.input-search-light {
  padding-top: 15px;
  width: 100%;
  height: 35px;
  border: none;
  color: #525F7F;
  font-size: 1rem;
  background: transparent;
  outline: none;
}


.icon-enter {
  padding: 15px;
}

.icon-enter:hover {
  cursor: pointer;
}

