/* searchbar.css */

.search-bar-container-light {
  display: flex;
  justify-content: center;

}

.search-bar-container-dark {
  display: flex;
  justify-content: center;
}

.search-bar-dark {
 padding: 20px;
 gap : 30px;
 display: flex;
 justify-content: space-between;
 border-radius: 80px;
 background: #202123;
 box-shadow: inset 5px 5px 4px #0d0d0e,
             inset -5px -5px 4px #333538;
}

.search-bar-light {
  gap : 30px;
  border: none;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 80px;
  box-shadow: inset 5px 5px 10px #cccccc,
  inset -5px -5px 10px #ffffff;

}

.input-search-dark {
  color: #ffffff;
  border: none;
  background: transparent;
  outline: none;
}

.input-search-light {
  color: #202123;
  border: none;
  background: transparent;
  outline: none;
}

.icon-enter:hover {
  cursor: pointer;
}


/* 
 */
