/* searchbar.css */

.search-bar-container-light {
  display: flex;
  justify-content: center;

}

.search-bar-container-dark {
  display: flex;
  justify-content: center;
}

.search-bar-dark {
 padding: 20px;
 gap : 30px;
 display: flex;
 justify-content: space-between;
 border-radius: 80px;
 background: #202123;
 border: solid #ffffff 2px;
}

.search-bar-light {
  gap : 30px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 80px;
  border: solid #181818 2px;
}

.input-search-dark {
  color: #ffffff;
  border: none;
  background: transparent;
  outline: none;
}

.input-search-light {
  color: #181818;
  border: none;
  background: transparent;
  outline: none;
}

.icon-enter:hover {
  cursor: pointer;
}


/* 
 */
