.list-container-dark {
    padding: 10px;
   
}

.list-container-dark p {
  padding-top: 10px;
  color: #ffffff;
  font-size: smaller;
}

.list-container-light {
  padding: 10px;
 
}

.list-container-light p {
  padding-top: 10px;
  color: #202123;
  font-size: smaller;
  font-weight: bolder;
}


.list-item-dark {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
  }

  .list-item-dark:hover {
    background-color: #47484e; 
  }

  .list-item-light {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    border-bottom: 1px solid #202123;
  }

  .list-item-light:hover {
    background-color: #e6e7e9; 
  }
  
  .left-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  
  .right-content {
  
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: flex-end; */

  }


  .icon-fiche:hover {
    color: inherit;
  }
  