.list-container-dark {
    padding: 10px;
   
}

.list-container-dark p {
    padding-top: 10px;

    color: #ffffff;
}


.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
  }

  .list-item:hover {
    background-color: #47484e; 
  }
  
  .left-content {
    display: flex;
    flex-direction: column;
  }
  
  .right-content {
    display: flex;
    flex-direction: column;
  }
  