.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.footer-title {
    padding: 10px;
    width: 50%;
}

.footer-links {
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.footer-link {

    transition: transform 0.3s ease;
}

.footer-link:hover {
    cursor: pointer;
    transform: translateY(-5px);

}

.footer-link a {
    color: inherit;
    transition: transform 0.3s ease;
}

.footer-link a:hover {
    cursor: pointer;
    transform: translateY(-5px);
}