:root {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  

  div {
    font-size: medium;
  }

  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
  }

  .main-content {
    flex: 1;
  }

  .container-fluid-bg-dark {
    background-color: #181818;
    font-size: 19px;
    color: #f1f1f2;
  }
          
  .container-fluid-light {
    color: #181818;
    font-size: 19px;
    background-color: #f1f1f2;
          }

