.details-container-dark {
  margin: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(145deg, #222325, #1d1e20);
box-shadow:  5px 5px 47px #0d0d0e,
             -5px -5px 47px #333538;
}

.details-header {
  padding: 20px;
}