.rech-container-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:40px;
    /* background: #eae9eb; */

}

.rech-container-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:40px;
    /* background:#212121; */
}

.rech-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.data-informations {
    display: flex;
    text-align: center;
    flex-direction: column;
}



